<h1><%= @user.name %></h1>

<% if @user.created_events.any? %>
 <%= @user.created_events.each do |u| %>
  <h2>u.event_name </h2>
  <p>u.event_date</p>
  <p>u.description</p>
  <br>
 <% end %>
<% end %>
