<h1><%= @user.name %></h1>

<% if @user.created_events.any? %>
 <% @user.created_events.each do |u| %>
  <h2><%= u.description %></h2>
  <p><%= u.event_date %></p>
  <br>
 <% end %>
<% end %>

<%= link_to "Create a New Event", new_event_path %>
